body {
    background-color: #4F6367;
}

.container{
    text-align: center;
    width:100%;
    margin:0 auto;
}

.h1 {
    top:10%;
    border:2px solid black;
}

#myButtons{
    color:#B8D8D8;
    border: black;
    border-style: ridge;
    text-align: center;
    font-size: 2em;
    padding: 18px 10px;
}



#alphabet{
    font-family:'Raleway', sans-serif;
    font-size:2em;
    padding:2em;
    outline-color:black; 
    margin: 1 1 1 0;

}

#category{
    text-align:center;
    font-family:'Raleway', sans-serif;
    font-size: 2em;
}

#lives{
    text-align:center;
    font-family:'Raleway', sans-serif;
    font-size: 2em;    
}

#clue{
    text-align:center;
    font-family:'Raleway', sans-serif;
    font-size: 2em;
}


h1{
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    font-style: bold;
    text-align: center;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    font-style: bold;
    text-align: center;
}


#word {
    display: block;
}

.hangman{
    color: white;
}